// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pip_boy_green: (
  50: #58f247,
  100: #58f247,
  200: #58f247,
  300: #58f247,
  400: #58f247,
  500: #00ee00,
  600: #00ee00,
  700: #008e00,
  800: #005f00,
  900: #002f00,
  // 50: #00ee00,
  // 100: #00dc00,
  // 200: #00c600,
  // 300: #00b200,
  // 400: #008e00,
  // 500: #007d00,
  // 600: #007d00,
  // 700: #005f00,
  // 800: #002f00,
  // 900: #000000,
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(black, 0.87),
      400: rgba(black, 0.87),
      500: rgba(black, 0.87),
      600: rgba(black, 0.87),
      700: rgba(black, 0.87),
      800: rgba(black, 0.87),
      900: rgba(black, 0.87),
    ),
);

$pip_boy_BASIC-primary: mat.define-palette($pip_boy_green);
$pip_boy_BASIC-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pip_boy_BASIC-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pip_boy_BASIC-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pip_boy_BASIC-primary,
      accent: $pip_boy_BASIC-accent,
      warn: $pip_boy_BASIC-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pip_boy_BASIC-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000000;
}
